.container-reg{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.Row-reg{
    height: 99%;
    width: 100%;
    margin: auto;
    background-color: #B8ECF5;
    border: 2px solid #00507A;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.col-left{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-reg{
    border: none;
}

.form-reg input {
    border: none;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
    width: 300px;
    background-color: #B8ECF5;
    border-bottom: #00507A 2px solid;
}

.form-reg button{
    font-family: 'Oswald', sans-serif;
    width: 85px;
}

.div-reg{
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-self: center;
}

.btn-reg{
    text-decoration: none;
    font-size: 10px;
    color: black;
    background-color: #82DDED;
    color: #ffffff;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-left: 68px;
}

.link-home{
    border: #00507A 2px solid;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 40px;
    background-color: #006AA3;
}

.link-home:hover{
    background-color: #00507A;
}

.div-p{
    display: flex;
    justify-content: center;
} 





  