
*{
    margin: 0;
    padding: 0;
}
.body{
    min-height: 75vh;
    display: flex;
    width: 100%;
}

.right-section{
    /* background: red; */
    border-radius: 0;
    margin: 0;
    width: 50%;
    background: linear-gradient(rgba(255, 211, 173, 0.5), rgba(255, 211, 173, 1));
}

.left-section{
    background: linear-gradient(rgba(255, 222, 194, 0.5), rgba(255, 222, 194, 1));
    border-radius: 0;
    margin: 0;
    width: 50%;
}

.welcome{
    border-radius: 10px;
    margin-top: 220px;
}

.welcome h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.welcome p{
    font-size: 20px;
}

.formLogin{
    margin: 220px 70px 0 70px;
    padding: 40px;
    border: solid 2px;
    border-radius: 10px;
}

.imgLogin{
    display: none;
}

@media (max-width: 990px){
    .body{
        height: 127,5vh;
        display: flex;
        flex-direction: column; 
    }
    .right-section{
        background: red;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }
    
    .left-section{
        background: #FFDEC2;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    .welcome{
        border-radius: 10px;
        margin: 90px 0;
    }

    .formLogin{
        margin: 90px 0;
        padding: 20px;
        border: solid 2px;
        border-radius: 10px;
    }

    .imgLogin{
       display: block;
       margin: 100px;
    }
}





  