body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan {
    margin-bottom: 20px;
    padding: 20px;
    background: #CAF0F8;
    border: 1.5px solid #0085CC;
    border-radius: 8px;
}

.plan-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.plan{
    font-family: 'Oswald', sans-serif;
}

.title-plan{
    font-family: 'Oswald', sans-serif;
    color: black;
}

@media (max-width: 600px) and (min-width: 449px) {
    .plan {
      padding: 10px;
    }
}

@media (max-width: 440px) {
    body{
        height: 133vh;
    }
    .plan {
      padding: 10px;
    }
}