*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    min-height:70vh;
}

.titleWe{
    margin: 40px 0
}

.creadores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.creador {
    margin: 20px;
    width: 100%;
    max-width: 300px;
}

.creador img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.creador h3 {
    margin: 0;
    font-size: 18px;
}

@media (max-width: 940px) and (min-width: 660px){
    .creador {
        margin: 20px 0;
    }
}

@media (max-width: 440px){
    body{
        height: 220vh;
    }
    .creador {
        margin: 20px;
        max-width: calc(50% - 40px);
    }
    .titleWe{
        margin: 10px 0;
    }
}
